<ng-container *ngIf="addFriendResult !== undefined">
{{addFriendResult}}
</ng-container>

<div style="width: 60%">
<ng-container *ngIf="avatarBase64Str !== undefined && avatarBase64Str.length>0">
  <div style="height: 200px;">
  <img src="{{avatarBase64Str}}" style="height: 80%; width: 80%; object-fit: scale-down;" >
  <br/>
  <p style="text-align:center">{{userDto.basic.displayName}}
    </p>
</div>
</ng-container>

<div>
<ng-container *ngIf="canSendInvitation">
  <a (click)="SendFriendshipInvitation(userDto.basic.id)" class="btn btn-success">Dodaj do znajomych</a>
</ng-container>

<a (click)="goToConversation(userDto.basic.id)" class="btn btn-info">Konwersacja</a>
</div>

<table  class="table">
  <tr>
    <th>Nazwa użytkownika</th>
    <td>{{userDto.basic.displayName}}</td>
  </tr>
  <tr>
    <th>Data urodzin</th>
    <td>{{userDto.basic.birthDate}}</td>
  </tr>
  <tr>
    <th>Płeć</th>
    <td>{{userDto.basic.gender}}</td>
  </tr>
  <tr>
    <th>Miasto</th>
    <td>{{userDto.details.city}}</td>
  </tr>
  <tr>
    <th>Województwo</th>
    <td>{{userDto.details.region}}</td>
  </tr>
  <tr>
    <th>Wzrost</th>
    <td>{{userDto.details.width}}</td>
  </tr>
  <tr>
    <th>Waga</th>
    <td>{{userDto.details.heigth}}</td>
  </tr>
  <tr>
    <th>Kolor oczu</th>
    <td>{{userEyesColor}}</td>
  </tr>
  <tr>
    <th>Kolor włosów</th>
    <td>{{userHairColor}}</td>
  </tr>
  <tr>
    <th>Zainteresowania</th>
    <td>
      <ul>
        <li *ngFor="let interest of userInterests">
          {{interest}}
        </li>
      </ul>
    </td>
  </tr>
</table>
</div>
