<ng-container *ngIf="addFriendResult !== undefined">
{{addFriendResult}}
</ng-container>
<ng-container *ngIf="avatarBase64Str !== undefined && avatarBase64Str.length>0">
  <img src="{{avatarBase64Str}}">
</ng-container>

<ng-container *ngIf="canSendInvitation">
  <a (click)="SendFriendshipInvitation(userDto.basic.id)">Dodaj do znajomych</a>
</ng-container>

| <a (click)="goToConversation(userDto.basic.id)">Konwersacja</a> |
<table style="width:100%">
  <tr>
    <th>Nazwa użytkownika</th>
    <td>{{userDto.basic.displayName}}</td>
  </tr>
  <tr>
    <th>Data urodzin</th>
    <td>{{userDto.basic.birthDate}}</td>
  </tr>
  <tr>
    <th>Płeć</th>
    <td>{{userDto.basic.gender}}</td>
  </tr>
  <tr>
    <th>Miasto</th>
    <td>{{userDto.details.city}}</td>
  </tr>
  <tr>
    <th>Województwo</th>
    <td>{{userDto.details.region}}</td>
  </tr>
  <tr>
    <th>Wzrost</th>
    <td>{{userDto.details.width}}</td>
  </tr>
  <tr>
    <th>Waga</th>
    <td>{{userDto.details.heigth}}</td>
  </tr>
  <tr>
    <th>Kolor oczu</th>
    <td>{{userEyesColor}}</td>
  </tr>
  <tr>
    <th>Kolor włosów</th>
    <td>{{userHairColor}}</td>
  </tr>
  <tr>
    <th>Zainteresowania</th>
    <td>
      <ul>
        <li *ngFor="let interest of userInterests">
          {{interest}}
        </li>
      </ul>
    </td>
  </tr>
</table>
