<div>
  <h3>Lista znajomych</h3>
  <ul>
    <li *ngFor="let friend of friends">
      <app-user-details-short [userId]='friend.id'></app-user-details-short>
      <br/>
      <div class="btn-group btn-group-justified">
        <a (click)="goToConversation(friend.id)" class="btn btn-success">Konwersacja</a>
        <a (click)="deleteFriend(friend.id)" class="btn btn-danger">Usuń ze znajomych</a>
      </div>
    </li>
  </ul>
</div>


<div>
  <h3>Zaproszenia do znajomych</h3>
  <ul>
    <li *ngFor="let friend of invitationsFriends">
    <app-user-details-short [userId]='friend.id'></app-user-details-short>
      <a (click)="acceptFriendship(friend.id)" class="btn btn-success" >Zaakceptuj</a>
      <a (click)="denyFriendship(friend.id)" class="btn btn-danger">Odrzuć</a>

      <a (click)="goToConversation(friend.id)">Konwersacja</a>
    </li>
  </ul>
</div>

