<div>
  <h3>Lista znajomych</h3>
  <ul>
    <li *ngFor="let friend of friends">
      <a (click)="goToProfile(friend.id)"> {{friend.displayName}}</a>
      | <a (click)="goToConversation(friend.id)">Konwersacja</a> |
      <a (click)="deleteFriend(friend.id)">Usuń ze znajomych</a>
    </li>
  </ul>
</div>


<div>
  <h3>Zaproszenia do znajomych</h3>
  <ul>
    <li *ngFor="let friend of invitationsFriends">
    <a (click)="goToProfile(friend.id)"> {{friend.displayName}}</a>
      | <a (click)="acceptFriendship(friend.id)">Zaakceptuj</a> |
      | <a (click)="denyFriendship(friend.id)">Odrzuć</a> |

      | <a (click)="goToConversation(friend.id)">Konwersacja</a> |
    </li>
  </ul>
</div>

