<ng-container *ngIf="loginFailed">
  Nie udało się zalogować
</ng-container>

<ng-container *ngIf="logged">
<button (click)="logout()">Wyloguj</button>
</ng-container>

<ng-container *ngIf="!logged">


<form (ngSubmit)="onSubmit()">
  <div style="display: inline-grid ">
    <label for="name">Nazwa użytkownika</label>
    <input type="text" id="userName" name="userName" [(ngModel)]="login">

    <label for="name">Hasło</label>
    <input type="password" id="password" name="password" [(ngModel)]="password">

  <button type="submit">Zaloguj</button>
</div>
</form>
</ng-container>
