<ng-container *ngIf="displayMessageForm">

  <ng-container *ngIf="speakerDto != null">
 <app-user-details-short [userId]='speakerDto.id'></app-user-details-short>
</ng-container>

  <form (ngSubmit)="sendMessage()" #myProfileFormRef="ngForm">

      <div class="md-form">
          <textarea [(ngModel)]="newMessageContent" id="newMessageContext" name="newMessageContent" class="md-textarea form-control" rows="3">
            </textarea>
        </div>
  <input type="submit" class="btn btn-info" value="Wyślij">
  </form>

  <table class="table table-striped">
  <tbody>
      <tr *ngFor="let message of conversation">
          <td>
              <div><b> {{message.senderName}} </b>  <i>({{message.sendDate | date:'medium' }})</i></div>
              <div> {{message.content}} </div>
          </td>
      </tr>
  </tbody>
</table>
</ng-container>


<ng-container *ngIf="!displayMessageForm">
<h3>Rozmowy</h3>


<table class="table table-striped">
    <tbody>
        <tr *ngFor="let message of lastMessages" style="border:1px solid gray">
            <td>
              <div>  <app-user-details-short [userId]='message.speakerId'></app-user-details-short></div>
                <div><i>({{message.messageDate | date:'medium' }})</i></div>
                <div> {{message.messageShortContent}} </div>
                <div>

                    <a  class="btn btn-primary" role="button" (click)="goToConversation(message.speakerId)">
                        Przejdź do konwersacji
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</ng-container>
