<ng-container *ngIf="displayMessageForm">

  Konwersacja z {{ speakerDto.displayName }}

  <form (ngSubmit)="sendMessage()" #myProfileFormRef="ngForm">
  <textarea [(ngModel)]="newMessageContent" id="newMessageContext" name="newMessageContent">

  </textarea>
  <input type="submit" value="Wyślij">
  </form>
  <ul>
  <li *ngFor="let message of conversation">
    {{message.senderName}} {{message.sendDate}}
    <hr/>
    {{message.content}}
  </li>
  </ul>
</ng-container>

<ng-container *ngIf="!displayMessageForm">
Rozmowy
<ul>
  <li *ngFor="let message of lastMessages">
          {{message.speakerName}} {{message.messageDate}}
          <a (click)="goToConversation(message.speakerId)">Przejdź do rozmowy</a>
          <hr/>
          {{message.messageShortContent}}
  </li>
</ul>
</ng-container>
