<ng-container *ngIf="updateNotSucceded">
  Nie udało się zaktualizować profilu.
</ng-container>

<form (ngSubmit)="onSubmit(myProfileFormRef)" #myProfileFormRef="ngForm">
  <div style="display: inline-grid ">
  <label for="name">Nazwa użytkownika</label>
  <input type="text" id="userName" name="userName" [(ngModel)]="userDto.basic.name">

      <label for="name">Nazwa wyświetlana</label>
      <input type="text" id="displayName" name="displayName" [(ngModel)]="userDto.basic.displayName">


      <label for="birthDate">Data urodzin</label>
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="newBirthDate" ngbDatepicker #d="ngbDatepicker">
             <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                Wybierz
              </button>
            </div>

      <label for="gender">Płeć</label>
      <select [(ngModel)]="userDto.basic.gender"  id="gender" name="gender">
        <option value="m">Mężczyzna</option>
        <option value="f">Kobieta</option>
      </select>

      <label for="city">Miasto</label>
      <input type="text" id="city" name="city" [(ngModel)]="userDto.details.city" >

      <label for="region">Województwo</label>
      <input type="text" id="region" name="region" [(ngModel)]="userDto.details.region" >

      <label for="width">Wzrost</label>
      <input type="text" id="width" name="width" [(ngModel)]="userDto.details.width" >

      <label for="heigth">Waga</label>
      <input type="text" id="heigth" name="heigth" [(ngModel)]="userDto.details.heigth" >


      <label for="eyesColor">Kolor oczu</label>
      <select [(ngModel)]="userDto.details.eyesColor"  id="eyesColor" name="eyesColor">
        <option *ngFor="let ec of eyesColorsDict" [ngValue]="ec?.id"> {{ec?.displayName}}</option>
      </select>


      <label for="hairColor">Kolor włosów</label>
      <select [(ngModel)]="userDto.details.hairColor"  id="hairHolor" name="hairColor">
        <option *ngFor="let hc of hairColorsDict" [ngValue]="hc?.id"> {{hc?.displayName}}</option>
      </select>

      <label for="interest">Zainteresowania</label>
      <ul>
        <li *ngFor="let interest of interestsDict; let i = index">
          <label>
            <input name="selected" type="checkbox" [(ngModel)]="interestsDict[i].boolValue" [ngModelOptions]="{standalone: true}">
            {{interestsDict[i].displayName}}
          </label>
        </li>
      </ul>

  <button type="submit">Zapisz zmiany</button>
</div>

<form (ngSubmit)="onChangePassword(changePasswordFormRef)" #changePasswordFormRef="ngForm">

    <label for="password">Hasło</label>
    <input type="password" id="password" name="password" [(ngModel)]="newPassword">
</form>
</form>
