<nav>
  <a class="btn btn-outline-primary" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
  <a class="btn btn-outline-primary" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
</nav>

<hr/>
<nav>
  <a class="btn btn-outline-primary" [routerLink]="['/myProfile']" routerLinkActive="router-link-active">My profile</a>
  <a class="btn btn-outline-primary" [routerLink]="['/friends']" routerLinkActive="router-link-active">Friends</a>
  <a class="btn btn-outline-primary" [routerLink]="['/messages']" routerLinkActive="router-link-active">Messages</a>
  <a class="btn btn-outline-primary" [routerLink]="['/find']" routerLinkActive="router-link-active">Find users</a>

</nav>

<router-outlet></router-outlet>
